@using System.Web.Optimization

@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Commander - BotArena</title>

    <link rel="stylesheet" href="@Url.Content("~/Content/lib/ng-toaster/toaster.min.css")"/>

    <script type="text/javascript">
        var gosuArena = gosuArena || {};
        gosuArena.pageData = gosuArena.pageData || {};

        gosuArena.versionNumber = '@GosuArena.Infrastructure.Environment.VersionIdentifier';

        gosuArena.url = gosuArena.url || {};
        gosuArena.url.baseUrl = '@Url.Content("~/")';
        gosuArena.url.cacheBustingFragment = gosuArena.versionNumber;
    </script>
</head>

<body ng-app="commander">

    <section ui-view>
    
    </section>

    @Scripts.Render("~/bundles/commanderlibs")

    <script type="text/javascript" src="~/signalr/hubs"></script>

    @Scripts.Render("~/bundles/commander")

</body>
</html>
