@model IList<GosuArena.Models.Match.BotModel>

@{
    Layout = "~/Views/Shared/_LayoutWorld.cshtml";
    ViewBag.Title = "Play match!";
}

@section styles {
    <link rel="stylesheet" href="@Url.Content("~/Content/lib/codemirror-5.10/lib/codemirror.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/lib/codemirror-5.10/addon/hint/show-hint.css")"/>
    <link rel="stylesheet" href="@Url.Content("~/Content/lib/codemirror-5.10/addon/lint/lint.css")"/>
    <link rel="stylesheet" href="@Url.Content("~/Content/lib/sweetalert/sweetalert.css")"/>

    <link rel="stylesheet" href="@Url.Content("~/Content/Pages/Match/SetupMatch.less")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Pages/Bot/Edit.less")" />
}

@section scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/lib/angular/angular.min.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/lib/angular/angular-ui-router.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/lib/angular/ui-codemirror.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/lib/angular/angular-animate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/lib/angular/SweetAlert.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/lib/ng-toaster/toaster.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/angular/menuApp.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/angular/main-menu/mainController.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/angular/services/authService.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/angular/services/notificationService.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/angular/services/matchSetupService.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/angular/match-setup/matchSetupCtrl.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/angular/editor/editorCtrl.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/angular/bots/botListCtrl.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/angular/bot-wizard/botWizardCtrl.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/angular/bot-wizard/chooseClassCtrl.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/angular/bot-wizard/chooseEquipmentCtrl.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/angular/bot-wizard/chooseColorCtrl.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/angular/bot-wizard/enterBotNameCtrl.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/angular/bot-wizard/enterEmailCtrl.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/angular/account/loginCtrl.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/angular/account/registerCtrl.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/lib/knockout/knockout-3.0.0.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Pages/Match/Play/botViewModel.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Pages/Match/Play/matchViewModel.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Pages/Match/Play/matchUI.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Pages/Match/Play/match.js")"> </script>

    <script type="text/javascript" src="@Url.Content("~/Content/lib/sweetalert/sweetalert.min.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Content/lib/codemirror-5.10/lib/codemirror.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/lib/jshint.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/lib/codemirror-5.10/addon/hint/show-hint.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/lib/codemirror-5.10/addon/hint/javascript-hint.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/lib/codemirror-5.10/addon/lint/lint.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/lib/codemirror-5.10/addon/lint/javascript-lint.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/lib/codemirror-5.10/mode/javascript/javascript.js")"></script>
}

<section id="playing-field">
    <canvas id="gameCanvas" class="hide-from-start" width="800" height="600"></canvas>
    <canvas id="3d-game-canvas-babylon" class="fullscreen-canvas"></canvas>
</section>

<section ng-app="menuApp" class="menu-system">
    <toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-right'}"></toaster-container>
    
    <div ng-controller="MainController">
        <button class="menu-button" ng-click="toggleMenu()">Menu</button>
        <div class="menu-wrapper">
            <div ui-view></div>
        </div>
    </div>
</section>

<div class="game-message-container">
    <section class="game-message"></section>
</div>

<ul id="botLegends" data-bind="foreach: botLegends">
    <li data-bind="css: { killed: !isAlive() }">
        <div class="color" data-bind='style: { backgroundColor : color }'></div>
        <span class="name" data-bind="text: name"></span>
        <div class="health"><span data-bind="text: roundedHealth"></span> hp</div>
        <button class="btn-sm" data-bind="click: $parent.targetBotWithCamera.bind(bot)"><i class="fa fa-eye"></i> Follow bot</button>
    </li>
</ul>

<form class="options overlay-bottom-left">
    <label for="showBotNames">Show bot names</label>
    <input id="showBotNames" type="checkbox" name="showBotNames" checked="checked" />

    <label for="showBotSights">Show bot sights</label>
    <input id="showBotSights" type="checkbox" name="showBotSights" />
</form>

<menu class="actions overlay-bottom-right">
    <button id="2d-mode" class="btn btn-default">2D</button>
    <button id="3d-mode" class="btn btn-default">3D</button>
    <button id="both-mode" class="btn btn-default">2D & 3D</button>
    <button id="restartMatch" class="btn btn-primary">Start match</button>
    <button id="stopMatch">Stop match</button>
</menu>

@foreach (var bot in Model.Where(x => !string.IsNullOrWhiteSpace(x.Script)))
{
    <script type="text/javascript">
        // @bot.Name.ToUpper()
        // A few lines of code have been added to the bot definition, to make it
        // play nice with the framework. The code written by the user can be seen a few lines below
        gosuArena.initiateBotRegistration({
            id: @bot.Id,
            name: "@bot.Name",
            teamId: @bot.TeamId
        }, function() {
            // Redefine globals to make sure that the bot scripts do not tamper
            // with any global state
            var window = {};
            var document = {};
            var alert = function() { };
            var XMLHttpRequest = function() { };
            var jQuery = function () { };
            var $ = function () { };
            var gosuArenaSettings = {};

            // User written code starts here:
            
            @Html.Raw(bot.GetScriptToRender(User))
            
            // User written code ends here
        });
    </script>
}
