@using System.Web.Optimization

@model IList<GosuArena.Models.Match.BotModel>

@{
    Layout = "~/Views/Shared/_LayoutWorld.cshtml";
    ViewBag.Title = "Play match!";
}

@section styles
{
}

@section scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/lib/knockout/knockout-3.0.0.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Pages/Match/Play/botViewModel.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Pages/Match/Play/matchViewModel.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Pages/Match/Play/matchUI.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Pages/Match/Play/match.js")"> </script>
}

<section id="playing-field">
    <canvas id="gameCanvas" class="hide-from-start" width="800" height="600"></canvas>
    <canvas id="3d-game-canvas-babylon"></canvas>
</section>

<div class="game-message-container">
    <section class="game-message"></section>
</div>

<ul id="botLegends" data-bind="foreach: botLegends">
    <li data-bind="css: { killed: !isAlive() }">
        <div class="color" data-bind='style: { backgroundColor : color }'></div>
        <span class="name" data-bind="text: name"></span>
        <div class="health"><span data-bind="text: roundedHealth"></span> hp</div>
    </li>
</ul>

<form class="options">
    <label for="showBotNames">Show bot names</label>
    <input id="showBotNames" type="checkbox" name="showBotNames" checked="checked" />

    <label for="showBotSights">Show bot sights</label>
    <input id="showBotSights" type="checkbox" name="showBotSights" />
</form>

<menu class="actions">
    <button id="2d-mode" class="btn btn-default">2D</button>
    <button id="3d-mode" class="btn btn-default">3D</button>
    <button id="both-mode" class="btn btn-default">2D & 3D</button>
    <button id="restartMatch" class="btn btn-primary">Start match</button>
    <button id="stopMatch">Stop match</button>
</menu>

@foreach (var bot in Model.Where(x => !string.IsNullOrWhiteSpace(x.Script)))
{
    <script type="text/javascript">
        // @bot.Name.ToUpper()
        // A few lines of code have been added to the bot definition, to make it
        // play nice with the framework. The code written by the user can be seen a few lines below
        gosuArena.initiateBotRegistration({
            id: @bot.Id,
            name: "@bot.Name",
            teamId: @bot.TeamId
        }, function() {
            // Redefine globals to make sure that the bot scripts do not tamper
            // with any global state
            var window = {};
            var document = {};
            var alert = function() { };
            var XMLHttpRequest = function() { };
            var jQuery = function () { };
            var $ = function () { };
            var gosuArenaSettings = {};

            // User written code starts here:
            
            @Html.Raw(bot.GetScriptToRender(User))
            
            // User written code ends here
        });
    </script>
}
