@using System.Web.Optimization
@{
    ViewBag.Title = "Scene editor";
}

@section styles {
    <link rel="stylesheet" href="@Url.Content("~/Content/Pages/SceneEditor/Index.less")" />
}

@section scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/lib/knockout/knockout-3.0.0.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Pages/SceneEditor/editorViewModel.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/editor/sceneEditor.js")"> </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Pages/SceneEditor/editor.js")"> </script>
}

@Scripts.Render("~/bundles/gosuarena")

<div id="editor-container">
    <div id="control-bar">
        <div class="btn-group" role="group" aria-label="...">
            @*<button type="button" class="btn btn-default">1</button>*@

            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Add
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" data-bind="foreach: meshes">
                    <li><a href="#" data-bind="text: name, click: $parent.onMeshAdd"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <canvas id="editor-canvas" width="1152" height="864"></canvas>
</div>
