@model IEnumerable<GosuArena.Entities.User>

@{
    ViewBag.Title = "Users";
}

@section styles {
    <link rel="stylesheet" href="@Url.Content("~/Content/Pages/Account/List.less")" />
}

@section scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/lib/jquery/jquery.form.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Pages/Account/List.js")"></script>
}


<h2>Users</h2>

<ul class="list-unstyled">
    @foreach (var user in Model)
    {
        <li class="well row">
            <div class="info col-md-8">
                <span class="username">@user.Username</span>
                <span class="last-login">Last login: @user.LastLoginDate</span>
                <span class="last-login">Bots: @user.Bots.Count</span>
            </div>
            <div class="actions col-md-4">
                <menu class="pull-right">
                    <form method="POST" action="@Url.Action("ResetPassword", "Account")" class="reset-password">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@user.Id" />
                        <button class="btn btn-warning">Reset password</button>
                    </form>
                </menu>
            </div>
        </li>
    }
</ul>