@model GosuArena.Models.Account.LogOnModel

@section styles {
    <link rel="stylesheet" href="@Url.Content("~/Content/GosuArena.less")" />
}

@{
    ViewBag.Title = "Log On";
}

@Html.ValidationSummary(true)

@using (Html.BeginForm())
{
    <form role="form">    
        <fieldset class="col-md-4">
            <legend>Login</legend>

            <div>
                <label for="Username">Username</label>
                <input name="Username" type="text" placeholder="Username" value="@Model.UserName" />
                @Html.ValidationMessageFor(m => m.UserName)
            </div>

            <div>
                <label for="Password">Password</label>
                <input name="Password" type="password" placeholder="Password" value="@Model.Password" />
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div>
                <label>
                    @Html.CheckBoxFor(x => x.RememberMe)
                     Remember me
                </label>
            </div>

            <button type="submit" class="main-submit">Login</button>
        </fieldset>
    </form>
}