@model GosuArena.Models.Account.RegisterModel

@section styles {
    <link rel="stylesheet" href="@Url.Content("~/Content/GosuArena.less")" />
}

@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "The account could not be created")

    <form role="form">    
        <fieldset class="col-md-4">
            <legend>Register</legend>

            <div>
                <label for="Username">Username</label>
                <input name="Username" type="text" placeholder="Username" value="@Model.UserName" />
                @Html.ValidationMessageFor(m => m.UserName)
            </div>

            <div>
                <label for="Username">Email</label>
                <input name="Email" type="text" placeholder="E-mail" value="@Model.Email" />
                @Html.ValidationMessageFor(m => m.Email)
            </div>

            <div>
                <label for="Password">Password</label>
                <input name="Password" type="password" placeholder="Password" value="@Model.Password" />
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div>
                <label for="Password">Confirm password</label>
                <input name="ConfirmPassword" type="password" placeholder="Confirm password" value="@Model.ConfirmPassword" />
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>

            <button type="submit" class="main-submit">Register</button>
        </fieldset>
    </form>
}